 /***************************************************************************************************************************************************** 
 **********************************************************Estilos CSS*********************************************************************************
 ******************************************************************************************************************************************************/

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
 /******************************************************************************************************************************************************
 ******************************************************     ***Cuerpo***********************************************************************************
 *******************************************************************************************************************************************************/
 body{
 width: 100%;
 height: 100%;
 font-size: large;
 display: flex;
 bottom: 0%;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color:rgb(109, 103, 76);
 }
 /******************************************************************************************************************************************************
 *************************************************************Main**************************************************************************************
 *******************************************************************************************************************************************************/
 .contenedor{
 width: 80%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 }
 /******************************************************************************************************************************************************
 /********************************************************Cabezera**************************************************************************************
 /******************************************************************************************************************************************************/
 header{
 width: 80%;
 height: 5em;
 display: flex;
 padding: 25px;
 color: red;
 font-size: larger;
 align-items: center;
 justify-content: left;
 background-color: white
 }
 /********************************************************************************************************************************************
 ***********************************************************Logo******************************************************************************
 ********************************************************************************************************************************************/
 .logo3{
 width: 60%;
 object-fit: cover;
 margin-right:  10px;
 align-items: center;
 display: flex;
 }

 /********************************************************************************************************************************************
 *****************************************************Barra de Nav General********************************************************************
 ********************************************************************************************************************************************/
 .barra-Navegacion{
  width: 80%;
  height: 3em;
  border: 2px solid black;
  display: flex;
  border: 2px black;
  padding-left: 30%;
  position: relative;
 }
 li a{
 list-style: none;
 text-decoration: none;
 }
  /********************************************************************************************************************************************
  *****************************************************Barra de Navegacion*********************************************************************
  *********************************************************************************************************************************************/
 .barnav{
  width: 80%;
  height: 3em;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  display: flex;
  }

 /*********************************************************************************************************************************************
 *******************************************************Barra nav Items************************************************************************
 *********************************************************************************************************************************************/
 .items,.barnav,.barra-Navegacion{
  list-style: none;
  text-decoration: none;
 }
 /**********************************************************************************************************************************************
 ************************************************************Bar Hover**************************************************************************
 **********************************************************************************************************************************************/
 .barnav :hover{
 color: red;
 transition: 0.5;
 } 
 /*********************************************************************************************************************************************
 **********************************************************Section Tecnica*********************************************************************
 *********************************************************************************************************************************************/
 .asistencia-tecnica{
 width: 100%;
 background-color: rgb(92, 136, 92);
 border: 3px black;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
 }
 /*****************************************************************************************************************************************************
 *************************************************************Sction Remota****************************************************************************
 *****************************************************************************************************************************************************/
 .asistencia-remota{
 width: 100%;
 border: 3px black;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: flex-start;
 background-color: rgb(67, 108, 67);
 }

 .accesorios{
 width: 100%;
 max-height: 50vh;
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 background-color: rgb(77, 142, 64);
 }

 .fotoremota{
 width: 30%;
 display: flex;
 flex-wrap: wrap;
 align-items: center; 
 }

 .fotoaccesorios{
  width: 30%;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 }

 .fotoaccesorios1{
  width: 30%;
  display: flex;
  flex-direction: row;
 }

 .fotoremota1{
 width: 40%;
 display: flex;

 }
 
 /******************************************************************************************************************************************************
 ****************************************************************Servicio*******************************************************************************
 *******************************************************************************************************************************************************/
 .servicio{
 width: 20%;
 height: 80%;
 font-size: x-large;
 display: flex;
 flex-direction: column;
 list-style: none;
 }

 .empresa{
 width: 80%;
 height: 10em;
 background-color: rgb(93, 142, 93);
 display: flex;
 justify-content: center;
 align-items: center;
 justify-items: center;
 flex-direction: column;
 }

 .telefono{
 display: flex;
 flex-wrap: wrap;
 font-size: xx-large;
 justify-content: center;
 align-items: center;
 font-size: x-large;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: red;

 }
 .correo{
 color: red;
 display: flex;
 flex-wrap: wrap;
 font-size: x-large;
 justify-content: center;
 flex-direction: row;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .direccion{
 color: red;
 display: flex;
 flex-wrap: wrap;
 font-size: x-large;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 
 #nosotros{
 display: flex;
 flex-wrap: wrap;
 font-size: x-large;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: rgb(171, 171, 49);
 }
 /******************************************************************************************************************************************************
 *************************************************************Formulario********************************************************************************
 *******************************************************************************************************************************************************/
 #formulario{    
 width: 80%;
 height:100vh;
 background-color:rgb(56, 56, 183);
 color: rgb(214, 33, 33);
 display: flex;
 flex-direction: column;
 align-items: center;
 }
 .contacto{
 width: 80%;
 background-color: rgb(98, 136, 98);
 display: flex;
 flex-direction:column;
 justify-content: center;
 align-items: center;
 }

 .intems-Principales{
 width:80%;
 height: 90vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: rgb(182, 177, 112);
 }

 label,  li.intems-Principales,.items-contacto{
 width: 50%;
 color: blue;
 padding: 2%;
 margin: 1px;
 display: flex;
 flex: 1 0 120px;
 letter-spacing: .09em;
 text-transform: uppercase;
 justify-content: center;
 flex-wrap: wrap;
 align-items: center;
 }
 li{
 list-style: none;
 }
 .boton3,.boton4{
 width: 100px;
 display: flex;
 justify-content: center;
 flex-direction: row;
 background-color: blue;
 color: white;
 }
 /*********************************************************************************************************************************************
 **************************************************************IFrame**************************************************************************
 *********************************************************************************************************************************************/
 iframe{
 width: 80%;
 height: 62vh;
 font-size: x-large;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 }

 .boton{
 width: 20%;
 height: 30%;
 display: flex;
 background-color: blue;
 color: white;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 } 
    
 /*******************************************************************************************************************************************************
 ****************************************************************Galeria Fotos***************************************************************************
 ********************************************************************************************************************************************************/
 .row{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
 }

 .colum{
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
 }

 .galeria1,img{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

 }

 /********************************************************************************************************************************************************
 ********************************************************************Fotos sections Grl************************************************************************************
 ********************************************************************************************************************************************************/
 .fotoaccesorios{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;

 }

 .fotoremota{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
  

 /******************************************************************************************************************************************************
 ****************************************************************Pie de Pagina**************************************************************************
 *******************************************************************************************************************************************************/

 .pie-de-pagina{
 width:80%;
 height: 80px;
 bottom: 0%;
 display:flex;
 flex-wrap: wrap;
 position: fixed;
 justify-content: center;
 align-items:center;
 margin-block-start: 0%;
 background-color: rgb(188, 175, 75);
 }
 .logo1,.logo2{
    width: 40%;
 }
 .instagram,.Whatsapp{
  display: flex;
  margin: auto;
  font-size: small;
  align-items: center;
  flex-direction: row;
  justify-content: center;  

 }

 

    
 

 
 
    
     