<!DOCTYPE html>
 <html lang="es">
 <head> 
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>contacto</title>
 <link rel="stylesheet" href= "../CSS/estilos.css">
 <link rel="shorcut icon" href="../flyers.ico">  
 </head>
 <body>
  
 <header>
 <h2>Pablo informatica</h2>
 <a href="/Index.html"><img  class="logo3" src="/Assets/imagenes/logo.jpg" alt="logo"></a>
 <nav class="barra-Navegacion">
   <ul class="barnav">
   <li class="items">
   <a href="/Index.html">Inicio</a>
   </li>
   <li> 
   <a href="/view/Contacto.html">Contacto</a>
   </li>
   <li>
   <a href="/view/Presupuesto.html">Presupuesto</a>
   </li>
   <li>
   <a href="/view/Producto.html">Producto</a>
   </li>
   </ul>
   </nav>
 </header>

 <div  class="empresa">
 <h2 id="nosotros"> Contactanos! </h2>
 <p class="direccion"> Direccion calle Anotnio machado 1121 </p>
 <p class="telefono"> telefono de contacto 691-658.200 </p>
 <p class="correo">Correo Electronico pabloInformatica64@gmail.com </p>
 </div>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11420.738910465932!2d-4.60814730850873!3d36.55805721084359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72e23e102ffa23%3A0x2058dc519b1962f4!2s29640%20Fuengirola%2C%20M%C3%A1laga!5e0!3m2!1ses-419!2ses!4v1735669406226!5m2!1ses-419!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
 <!--Pie de Pagina o Footer-->
 <footer class="pie-de-pagina">
  <p class="Parrafo">Utilizamos Cokies para mejorar Nuesto Servicio</p>
  <p> Todos Los Derechos Reservados 2023 </p>
  <button class="boton" id="btn-Aceptar-cookies">Aceptar</button>
  <button class="boton" id="btn-Rechazar-cookies">Rechazar</button>
  <a class="instagram" href= "http://www.instagram.com/informatica64_/"><img class="logo1" src="../Assets/imagenes/instagram_2111463.png" alt="instagram"></a>
  <a class="Whatsapp" href="https://Whatsapp.com"><img class="logo2" src="../Assets/imagenes/whasapp.png" alt="Whatsapp"></a>
 </footer>


      
       
        
        
  

    
