<!DOCTYPE html>
 <html lang="es">
 <head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Presupuesto</title>
 <link rel="stylesheet" href= "../CSS/estilos.css">
 <link rel="shorcut icon" href="../flyers.ico">
 </head>     
 <body>
    
 
 
 <header>
 <h2>Pablo Informatica</h2>
 <a href="/Index.html"><img class="logo3" src="/Assets/imagenes/logo.jpg" alt="logo"></a>
 
 
  <nav class="barra-Navegacion">
  <ul class="barnav">
  <li class="items">
  <a href="/Index.html">Inicio</a>
  </li>
  <li> 
  <a href="/view/Contacto.html">Contacto</a>
  </li>
  <li>
  <a href="/view/Presupuesto.html">Presupuesto</a>
  </li>
  <li>
  <a href="/view/Producto.html">Producto</a>
  </li>
  </ul>
  </nav>
  </header>

 
 
    <div class="contacto">
    <form id="formulario" name="mi Formulario" action="#" method="get" target="_self">
    <h1>Formulario de Contacto </h1>
    <ul class="intems-Principales">
    <li class="items-contacto">
    <label> Nombre</label>
    <input type="text" id="Nombre" placeholder="Escriba su Nombre" pattern="[A-Z a a-z]{3.16}"
    title="Escriba solo letras entre 3 y 16 Caracteres" required>
    </li>
    <li class="items-contacto">
     <label>Apellido</label>
     <input type="text" id="Apellido" placeholder="Escriba su Apellido " pattern="[A-Z A a-z]{4,50}"
     title="Escriba solo Letras entre 4 y 50 Caracteres" required>
     </li>
     <li class="items-contacto">
     <label for="email">Correo Electronico</label>
     <input type="email" id="email" name="email"
     placeholder="Escriba su Correo Electronico " pattern="[a-zA-Z0-9_-.]+@[a-z0-9._-]+\.[a-z]{2.5}"
     title="Escriba su Correo Electronico" required>
     </li>
     <li class="items-contacto">
     <label for="Telefono">Telefono</label>
     <input type="tel" id="Telefono" name="Telefono"
     placeholder="Escriba aqui su Telefono" pattern="[0-9]{9}" 
     title="Escriba su Numero de Movil" required>
     </li>
     <li class="items-contacto">
     <textarea cols="40" rows="10" placeholder="Deja tu Comentario"  required></textarea>
     </li>
     <li>
     <input class="boton3" type="submit" value="Enviar">
     <li>
      <input class="boton4" type="reset" value="Borrar">
     </li>
     <li class="items-contacto">
     </li>
     </ul>
     </form>
b    </div>

 
 <!--Pie de Pagina o Footer-->
 <footer class="pie-de-pagina">
  <p class="Parrafo">Utilizamos Cokies para mejorar Nuesto Servicio</p>
  <p> Todos Los Derechos Reservados 2023 </p>
  <button class="boton" id="btn-Aceptar-cookies">Aceptar</button>
  <button class="boton" id="btn-Rechazar-cookies">Rechazar</button>
  <a class="instagram" href= "http://www.instagram.com/informatica64_/"><img class="logo1" src="../Assets/imagenes/instagram_2111463.png" alt="instagram"></a>
  <a class="Whatsapp" href="https://Whatsapp.com"><img class="logo2" src="../Assets/imagenes/whasapp.png" alt="Whatsapp"></a>
 </footer>
  
    
 </body>
 </html>






 
 

 
 