<!DOCTYPE html>
 <html lang="es">
 <head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Producto</title>
 <link rel="stylesheet" href= "../CSS/estilos.css">
 <link rel="shorcut icon" href="../flyers.ico">
 </head>
 <body>

  
   
    <!--header o cabazera-->
 <header>
  <h2>Pablo Informatica</h2>
  <a href="/Index.html"><img class="logo3" src="/Assets/imagenes/logo.jpg" alt="logo"></a>

  <nav class="barra-Navegacion">
    <ul class="barnav">
    <li class="items">
    <a href="/Index.html">Inicio</a>
    </li>
    <li> 
    <a href="/view/contacto.html">Contacto</a>
    </li>
    <li>
    <a href="/view/presupuesto.html">Presupuesto</a>
    </li>
    <li>
    <a href="/view/Producto.html">Producto</a>
    </li>
    </ul>
    </nav>
  </header>
  
 <div class="row">
  <div class="colum">
    <img class="galeria1" alt="foto1" src="../Assets/imagenes/Photo1.jpg"> 
    <img  alt="foto2" src="../Assets/imagenes/photo2.jpg"> 
    <img  alt="foto3" src="../Assets/imagenes/photo3.jpg"> 
    <img  alt="foto4" src="../Assets/imagenes/photo4.jpg">          
    <img  alt="foto5" src="../Assets/imagenes/photo5.jpg">
    <img  alt="foto8" src="../Assets/imagenes/photo8.jpg">
    <img  alt="foto9" src="../Assets/imagenes/goto9.jpg" >
  </div>
 </div>
  

     
 <!--Pie de Pagina o Footer-->
 <footer class="pie-de-pagina">
  <p class="Parrafo">Utilizamos Cokies para mejorar Nuesto Servicio</p>
  <p> Todos Los Derechos Reservados 2023 </p>
  <button class="boton" id="btn-Aceptar-cookies">Aceptar</button>
  <button class="boton" id="btn-Rechazar-cookies">Rechazar</button>
  <a class="instagram" href= "http://www.instagram.com/informatica64_/"><img class="logo1" src="../Assets/imagenes/instagram_2111463.png" alt="instagram"></a>
  <a class="Whatsapp" href="https://Whatsapp.com"><img class="logo2" src="../Assets/imagenes/whasapp.png" alt="Whatsapp"></a>
 </footer>
  
 
</body>
</html>